.offers

{
    width: 65%;
    height: 60vh;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    background: linear-gradient(180deg, #828282,  #e1ffea22 60%);
    border-radius: 35px;
}
.offers-left
{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;

}
.offers-left h1{
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-weight: 600;
}
.offers-left button{
    width: 200px;
    height: 50px;
    border: none;
    background:purple;
    border-radius: 15px;
    font-size:20px ;
    color: #ddd;
    font-style: italic;
    font-weight: 800;
    cursor: pointer;
   padding: auto;
}
.offers-right

{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}
@media screen and (max-width: 432px) 
{
    .offers
    {
        display: none;
    }
}
@media (min-width:433px) and (max-width: 632px)
{
    .offers
    {
        display: none;
    }
}